<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496753137177-qpje1l3dfmvgpsctrvk6h5h0o3lhhnav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496753137177-qpje1l3dfmvgpsctrvk6h5h0o3lhhnav</string>
	<key>API_KEY</key>
	<string>AIzaSyCbIr4_LMbGR-4wEoNAsYgaaAWw3yD1HRs</string>
	<key>GCM_SENDER_ID</key>
	<string>496753137177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-d4079</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-d4079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496753137177:ios:4ba4480b26f3807fbbbc88</string>
</dict>
</plist>